<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-5 mx-auto text-light custom-font text-center">
      <h1>質問は合計で10問です。</h1>
      <br>
      <div><%= link_to "診断スタート", diagnostics_path, class: "btn btn-light text-secondary" %></div>
    </div>
  </div>
</div>
