<div class="row">
<div class="col-12">
  <div class="row">
    <% if @like_mangas.present? %>
      <ul>
        <% @like_mangas.each do |like_manga| %>
          <li><strong><%= like_manga.title %></strong></li>
        <% end %>
      </ul>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>