<div class="container">
  <div class="row">
    <div class="col-10 col-lg-4 offset-lg-2 text-light custom-font mx-auto">
      <h1><%= t('.title') %></h1>
      <div class="card mt-3">
        <div class="card-body">
          <% if @like_mangas.present? %>
            <% @like_mangas.each do |like_manga| %>
              <h5 class="card-title text-secondary"><%= like_manga.title %></h5>
            <% end %>
          <% else %>
            <p class="text-secondary custom-font" ><%= t('.no_result') %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class='text-right text-center mt-3 custom-font'>
    <div class='text-secondary'>お気に入りした漫画の情報を通知します。</div>
      <%= link_to t('defaults.line_message'), line_login_api_login_path, class: 'btn btn-light float-right text-secondary mt-3' %>
    </div>
  </div>
</div>