<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
  <div class="col-11 col-md-10 col-lg-8 mx-auto custom-font text-secondary">
      <h1><%= t('.title') %></h1>
      <div class="mb-3">
      <td><%= image_tag("gold_icon.png") %></td>
      <td>xxxxxxxxxxxxxxxxxxxx</td>
      <td><i class="bi bi-heart"></i></td>
      </div>
      <div class="mb-3">
      <td><%= image_tag("silver_icon.png") %></td>
      <td>xxxxxxxxxxxxxxxxxxxx</td>
      <td><i class="bi bi-heart"></i></td>
      </div>
      <div class="mb-3">
      <td><%= image_tag("blonze_icon.png") %></td>
      <td>xxxxxxxxxxxxxxxxxxxx</td>
      <td><i class="bi bi-heart"></i></td>
      </div>
      <div class="mb-3">
    </div>
  </div>
</div>