<div class="container pt-3 text-light custom-font">
  <div class="row">
    <div class="col-lg-5 offset-lg-1 form-auto">
      <h1><%= t('.title') %></h1>
      <form class="d-flex justify-content-center">
        <div class="input-group mb-3">
          <input class="form-control" placeholder="タイトル" type="search"/>
        </div>
        <div class="input-group mb-3">
          <input class="form-control" placeholder="巻" type="search"/>
          <div class="input-group-append">
            <input type="submit" value="検索" class="btn btn-light text-secondary"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-lg-5 offset-lg-1">
      <div class="row">
        <% if @discussions.present? %>
          <%= render @discussions %>
        <% else %>
          <div class="mb-3">考察がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>