<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light custom-font fixed-top'>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <p class="h3 text-light">漫画の処方箋</p>
    <% end %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center d-flex">
        <li class="nav-item">
          <%= link_to t('header.discussion_index'), "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('header.review_index'), "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('header.login'), login_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>
