<footer id='footer' class='footer custom-font fixed-bottom text-secondary'>
  <div class='container'>
    <div class='row'>
      <div>
          <p>Comic Health</p>
      </div>
    </div>
  </div>
</footer>