<footer id='footer' class='footer-bottom navbar-light bg-primary-subtle'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright text-light'>
          <p>Comic Health</p>
        </div>
      </div>
    </div>
  </div>
</footer>