@import "bootstrap";

//文字のフォント
@font-face {
    font-family: "Tsukushi B Round Gothic";
    src: url("/path/to/TsukushiB.ttf") format("truetype");
}
.custom-font {
    font-family: 'Zen Maru Gothic', serif;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

//div {
//  border: 2px solid #000000;
//}