@import "bootstrap";

//トップページ
.top-wrapper {
    height: calc(100vh - 80px);
    position: relative;
    background-position: center;
    background-image: url('lease.png');
    background-repeat: no-repeat;
}

.top-inner-text {
    position: absolute;
    top: 50%; /* お好みの位置に調整してください */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.top_page {
    height: calc(100vh - 80px);
    position: relative;
    background-position: center;
    background-image: url('top_bottom.png');
    background-repeat: no-repeat;
}

.top_page .container {
    position: relative;
    z-index: 2; /* テキストが背景画像の上に表示されるようにする */
}

.top_page p.lead {
    margin-top: 80px; /* お好みの位置に調整してください */
}

.page-section img {
    width: 100%;
    height: auto;
}

//文字のフォント
.custom-font {
    font-family: "Tsukushi B Round Gothic", "筑紫B丸ゴシック", sans-serif;
}

//div {
//	border: 2px solid #000000;
// }

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}