.top-wrapper {
    background-color: #81bbf5ce;
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;

    .top-inner-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        color: white;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px; /* 画像とテキストの間に適切なマージンを設定 */
        }

        h1 {
            font-size: 3rem;

            @media screen and (max-width: 767px) {
                font-size: 2.0rem;
            }
        }
    }
}


